@{
    ViewData["Title"] = "Our Work";
}
<br>
<br>
<div class="jumbotron">
    <h2 style="text-align:center "><b>Our Work </b></h2>
</div>
<br>

<div class="jumbotron">
    <p style="text-align: center">
        We have been doing some work in cooperation with institutions that help homeless people, food banks and even fundraisers for less fortunate people, have a better look in this video!
        <br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uemObN8_dcw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <br><br>
        High Wycombe has some well known problems, specially in the town center area, where there's a few homeless people, there's drug abuse, even some violence... We are here to change that, by helping people we can make the city we so much love a better place!
    </p>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; <b>2021 - Wycombe's Best Charity </b> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}