@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<div class="jumbotron">
    <h1 style="text-align:center "><b>Wycombe's Best Charity </b></h1>
</div>
<br>
<br>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2><b>Welcome to Wycombe's Best Charity</b></h2>
            <p>
                Get to know our history, what drives us and our principles.
            </p>
            <p>
                &emsp;&emsp;&emsp;
                <a class="btn btn-default"
                   href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                    History &raquo;
                </a>
        </div>
        <div class="col-md-4">
            <h2><b>Recent Projects</b></h2>
            <p>Find out our recent work, what we've accomplished and what we're planning on doing.</p>
            <p>
                &emsp;&emsp;&emsp;
                <a class="btn btn-default"
                   href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                    Our Work &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2><b>Volunteering with us</b></h2>
            <p>We're always welcoming new helpers with our projects, are you curious about what is like to be a volunteer in our institution?</p>
            <p>
                &emsp;&emsp;&emsp;
                <a class="btn btn-default"
                   href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/">
                    Register / Enquire &raquo;
                </a>
            </p>
        </div>
    </div>
</div>
